:root {
  --max-content-height: 500px;
  --button-color: rgb(79, 79, 133);
}

.experience {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
}

.experienceCol.left {
  width: 30%;
  max-width: 300px;
}

.stickyWriteup {
  position: sticky;
  top: calc(50% - var(--max-content-height) / 2);
}

.logosWrapper,
.stickyWriteup {
  display: flex;
  height: var(--max-content-height);
  align-items: center;
}

.logosWrapper.visible > .logos {
  transition: transform 1s cubic-bezier(0.205, 0.965, 0.05, 0.95);
}

.logosWrapper:not(.visible) > .logos {
  transition: transform 1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.logosWrapper,
.experienceCol.right {
  margin: 10vh 0;
}

.logosWrapper:not(:last-child) {
  margin-bottom: 25vh;
}
.logosWrapper > * img {
  padding: 15px 0;
  transition: opacity 1s;
}

.logosWrapper > * img {
  opacity: 0;
}

.logosWrapper.visible > * img {
  opacity: 1;
}

.logos3.above > img:nth-child(1) {
  transition-delay: calc(var(--fade-in-delay) * 2);
}
.logos3.above > img:nth-child(2) {
  transition-delay: var(--fade-in-delay);
}

.logos3.below > img:nth-child(2) {
  transition-delay: var(--fade-in-delay);
}
.logos3.below > img:nth-child(3) {
  transition-delay: calc(var(--fade-in-delay) * 2);
}

.resumeButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid var(--button-color);
  padding: 0 5px;
  margin-top: var(--margin);
  margin-left: -5px;
  border-radius: 10px;
  transition: background-color 0.25s;
}

.resumeButton > svg {
  fill: var(--button-color);
  margin: 5px 5px 5px 0;
  transition: fill 0.25s;
}

.resumeButton > div {
  color: var(--button-color);
  margin-right: 10px;
  margin: 5px;
  transition: color 0.25s;
}

.resumeButton:hover {
  background-color: var(--button-color);
}

.resumeButton:hover > svg {
  fill: white;
}

.resumeButton:hover > div {
  color: white;
}

.switchText > p {
  opacity: 1;
  transition: opacity 0.25s;
}

.switchText > p.invisible {
  opacity: 0;
}

.experienceCol.right {
  margin-top: 10vh;
  margin-left: var(--margin);
}

@media (min-width: 550px) {
  .experienceCol.right {
    margin-left: calc(var(--margin) * 1.5);
  }
}

@media (min-width: 650px) {
  .experienceCol.right {
    margin-left: calc(var(--margin) * 2);
  }
}

.experienceCol.observer {
  position: relative;
}

.experienceCol.observer > div {
  width: 1px;
  height: 30vh;
}

.experienceCol.observer > .top {
  margin-top: calc(10vh + var(--max-content-height) / 2);
  position: absolute;
}

.experienceCol.observer > .bottom {
  margin-bottom: calc(10vh + var(--max-content-height) / 2);
  position: absolute;
  bottom: 0;
}
