.logosWrapper {
  width: 30%;
  max-width: 300px;
}

@media (min-width: 767px) {
  .logosWrapper {
    width: 20%;
  }
}

.logosWrapper.visible > .logos {
  transition: transform 1s cubic-bezier(0.205, 0.965, 0.05, 0.95);
}

.logosWrapper:not(.visible) > .logos {
  transition: transform 1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.experience {
  display: flex;
  flex-direction: column;
}

.experienceRow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 50px 0;
}

.experienceRow:not(:last-child) {
  margin-bottom: 15vh;
}

.experienceRow > div {
  margin: -10vh 0 -10vh var(--margin);
  padding: 10vh 0;
}

.logos > img {
  padding: 15px 0;
  transition: opacity 1s;
}

.logosWrapper > * img {
  opacity: 0;
}

.logosWrapper.visible > * img {
  opacity: 1;
}

.logos3.above > img:nth-child(1) {
  transition-delay: calc(var(--fade-in-delay) * 2);
}
.logos3.above > img:nth-child(2) {
  transition-delay: var(--fade-in-delay);
}

.logos3.below > img:nth-child(2) {
  transition-delay: var(--fade-in-delay);
}
.logos3.below > img:nth-child(3) {
  transition-delay: calc(var(--fade-in-delay) * 2);
}

.writeup > h1 {
  font-size: 64px;
}

:root {
  --button-color: rgb(79, 79, 133);
}

.resumeButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid var(--button-color);
  padding: 0 5px;
  margin-top: var(--margin);
  margin-left: -5px;
  border-radius: 10px;
  transition: background-color 0.25s;
}

.resumeButton > svg {
  fill: var(--button-color);
  margin: 5px 5px 5px 0;
  transition: fill 0.25s;
}

.resumeButton > div {
  color: var(--button-color);
  margin-right: 10px;
  margin: 5px;
  transition: color 0.25s;
}

.resumeButton:hover {
  background-color: var(--button-color);
}

.resumeButton:hover > svg {
  fill: white;
}

.resumeButton:hover > div {
  color: white;
}

.switchText > p {
  opacity: 1;
  transition: opacity 0.25s;
}

.switchText > p.invisible {
  opacity: 0;
}
