.fixOnScroll-fake-container {
  display: flex;
  align-items: center;
}

.fixOnScroll.fixed > * .fixOnScroll-fake-container {
  opacity: 0;
}

.fixOnScroll-fake {
  position: relative;
}

.fixOnScroll-fakeinner {
  position: absolute;
  height: 50vh;
  top: 50%;
  width: 1px;
}

.fixOnScroll-fixed {
  display: none !important;
  position: fixed;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
  display: unset;
  margin-right: var(--margin);
}

.fixOnScroll-fakeinner.end {
  top: -50vh;
}

.fixOnScroll.fixed > * .fixOnScroll-fixed {
  display: unset !important;
}
