.projects {
  position: relative;
}

.projectsTextContainer {
  position: absolute;
  height: 100%;
  max-height: var(--slant-left-height);
  z-index: 2;
}

.projectsText {
  margin: var(--margin);
  color: white;
}

.projects .slant {
  background-color: rgba(6, 172, 254, 1);
  max-height: unset;
}

.projects .parallax {
  position: relative;
  height: 250vh;
}

.parallax .imgContainer {
  position: sticky;
  top: 0;
}

.projectsContent {
  width: 100%;
  height: 200vh;
  background: rgba(6, 172, 254, 1);
  position: absolute;
  top: 100vh;
}

@media (min-aspect-ratio: 32/32) {
  .projects > .slant {
    justify-content: center;
  }

  .projectsTextContainer {
    position: unset;
    height: auto;
    padding-right: 5%;
  }

  .projectsText {
    color: white;
  }
}
