.experienceObserver {
  position: relative;
}

.experienceObserver > div {
  width: 1px;
  height: 30vh;
}

.experienceObserver > .top {
  margin-top: calc(10vh + var(--max-content-height) / 2);
  position: absolute;
}

.experienceObserver > .bottom {
  margin-bottom: calc(10vh + var(--max-content-height) / 2);
  position: absolute;
  bottom: 0;
}
