@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");

@keyframes increaseWidth {
  100% {
    width: 100%;
  }
}

@keyframes increaseHeight {
  100% {
    height: 90vh;
  }
}

:root {
  --slant-left-height: 90vh;
  --slant-right-height: 75vh;
  --slant-right-percent: 83%;
  --margin: 30px;
  --fade-in-delay: 0.15s;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
}

.alignVert {
  display: flex;
  align-items: center;
}

.slant {
  display: flex;
  max-height: var(--slant-left-height);
  clip-path: polygon(
    0 0,
    0 min(var(--slant-left-height), 99%),
    100% min(var(--slant-right-height), var(--slant-right-percent)),
    100% 0
  );
  margin-bottom: 10vh;
}

.slant--both {
  clip-path: polygon(
    0 0,
    0 min(var(--slant-left-height), 99%),
    100% min(var(--slant-right-height), var(--slant-right-percent)),
    100% calc(var(--slant-left-height) - var(--slant-right-height))
  );
  margin-top: 10vh;
}

.imgContainer {
  max-width: 100vh;
}

.imgContainer.fadeWhenInView {
  opacity: 0;
  transition: opacity 1s;
}

.imgContainer.fadeWhenInView.visible {
  opacity: 1;
}

img {
  width: 100%;
}

.pageContent {
  margin: var(--margin);
}

.writeup > h1 {
  font-size: 25px;
  font-weight: 400;
  margin-top: 0;
}

.writeup > h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 0;
}

.writeup > * p,
.writeup > p {
  font-size: 14px;
  font-weight: 400;
}

.line--horiz,
.line--vert {
  opacity: 0;
}

.loaded > * .line--horiz,
.loaded > * .line--vert {
  opacity: 1;
}

.line--horiz {
  transition: width 2s;
}

.line--vert {
  transition: height 2s;
}

.loaded > * .line--horiz {
  width: 100%;
}

.loaded > * .line--vert {
  height: 90vh;
}

.line {
  height: 1px;
  width: 1px;
}

.fake {
  opacity: 0;
}

@media (min-width: 400px) {
  .writeup > h1 {
    font-size: 28px;
  }

  .writeup > h3 {
    font-size: 23px;
  }

  .writeup > * p,
  .writeup > p {
    font-size: 15px;
  }
}

@media (min-width: 500px) {
  .writeup > h1 {
    font-size: 32px;
  }

  .writeup > h3 {
    font-size: 28px;
  }

  .writeup > * p,
  .writeup > p {
    font-size: 16px;
  }
}

@media (min-width: 650px) {
  .writeup > h1 {
    font-size: 38px;
  }

  .writeup > h3 {
    font-size: 33px;
  }

  .writeup > * p,
  .writeup > p {
    font-size: 18px;
  }
}

@media (min-width: 900px) {
  .writeup > h1 {
    font-size: 45px;
  }

  .writeup > h3 {
    font-size: 40px;
  }

  .writeup > * p,
  .writeup > p {
    font-size: 22px;
  }
}

@media (min-width: 1050px) {
  .writeup > h1 {
    font-size: 50px;
  }

  .writeup > h3 {
    font-size: 45px;
  }

  .writeup > * p,
  .writeup > p {
    font-size: 24px;
  }
}
