@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");

:root {
  --slant-left-height: 90vh;
  --slant-right-height: 75vh;
  --slant-right-percent: 83%;
  --margin: 30px;
  --fade-in-delay: 0.15s;
}

@keyframes increaseWidth {
  100% {
    width: 100%;
  }
}

@keyframes increaseHeight {
  100% {
    height: 90vh;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
}
