.slant {
  display: flex;
  max-height: var(--slant-left-height);
}

.slant--bottom {
  clip-path: polygon(
    0 0,
    0 min(var(--slant-left-height), 99%),
    100% min(var(--slant-right-height), var(--slant-right-percent)),
    100% 0
  );
  margin-bottom: 10vh;
}

.slant--top {
  clip-path: polygon(
    0 0,
    0 100%,
    100% 100%,
    100% calc(var(--slant-left-height) - var(--slant-right-height))
  );
  margin-top: 10vh;
}

.slant--both {
  clip-path: polygon(
    0 0,
    0 min(var(--slant-left-height), 99%),
    100% min(var(--slant-right-height), var(--slant-right-percent)),
    100% calc(var(--slant-left-height) - var(--slant-right-height))
  );
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.align-vert {
  display: flex;
  align-items: center;
}

.img-container {
  max-width: 100vh;
}

.img-container.fade-when-in-view {
  opacity: 0;
  transition: opacity 1s;
}

.img-container.fade-when-in-view.visible {
  opacity: 1;
}
