.slant {
  display: flex;
  max-height: var(--slant-left-height);
  clip-path: polygon(
    0 0,
    0 min(var(--slant-left-height), 99%),
    100% min(var(--slant-right-height), var(--slant-right-percent)),
    100% 0
  );
  margin-bottom: 10vh;
}

.slant--top {
  clip-path: polygon(
    0 0,
    0 100%,
    100% 100%,
    100% calc(var(--slant-left-height) - var(--slant-right-height))
  );
  margin-top: 10vh;
  margin-bottom: 0;
}

.slant--both {
  clip-path: polygon(
    0 0,
    0 min(var(--slant-left-height), 99%),
    100% min(var(--slant-right-height), var(--slant-right-percent)),
    100% calc(var(--slant-left-height) - var(--slant-right-height))
  );
  margin-top: 10vh;
}

.align-vert {
  display: flex;
  align-items: center;
}

.img-container {
  max-width: 100vh;
}

.img-container.fade-when-in-view {
  opacity: 0;
  transition: opacity 1s;
}
.line--horiz,
.line--vert {
  opacity: 0;
}

.loaded .line--horiz,
.loaded .line--vert {
  opacity: 1;
}

.line--horiz {
  transition: width 2s;
}

.line--vert {
  transition: height 2s;
}

.loaded .line--horiz {
  width: 100%;
}

.loaded .line--vert {
  height: 90vh;
}

.line {
  height: 1px;
  width: 1px;
}

.img-container.fade-when-in-view.visible {
  opacity: 1;
}

img {
  width: 100%;
}

.page-content {
  margin: var(--margin);
}
